body {

   margin: 0%;
   padding: 0%;
}



.navbar {
  display: flex;
  width: 100%;
  background-color: rgb(109, 109, 250);
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: xx-large;
  padding: 2%;
  margin-bottom: 1%;
  justify-content: center;
  justify-items: center;
}

.mainContainer {
  display: flex;
  justify-content: center;

}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    justify-items: center;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(222, 255, 255);
    
  }

.target-container {

  display: grid;
  grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    justify-items: center;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    background-color: rgb(218, 248, 248);
}

  .item {
    width: 80px;
    height: 80px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 80px;
    cursor: move;
    margin: 10px;
  }

  .item.dragging {
    opacity: 0.5;
  }

  .success-message {
    font-size: x-large;
    display: flex;
    justify-items: center;
    text-align: center;
    margin-top: 4%;
    font-weight: bold;
    position: absolute;
  }

  .target-container.highlight {

    background-color: aqua;
  }

  .reset-button {
    background: #a2aaf1;
    display: block;
    margin-top: 20px;
    padding: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
    cursor: pointer;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    border-radius: 20%;
  }
  .reset-button:hover{
      background: rgb(66, 66, 240);
      scale: 120%;
        
  }

  .bottom {
   display: flex;
   justify-content: center;
  }